@charset "UTF-8";
.menu {
  color: white;
}
.menu .conteiner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px 0px 0px 0px;
  padding: 15px 170px;
}
.menu .conteiner .menu__log .log {
  font-size: 24px;
  font-weight: 800;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}
.menu .conteiner .menu__links .links {
  display: flex;
}
.menu .conteiner .menu__links .links .link {
  padding: 0px 30px;
}
.menu .conteiner .menu__links .links .link span {
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: right;
}
.menu .conteiner .menu__links .links .link a {
  text-decoration: none;
  position: relative;
}
.menu .conteiner .menu__links .links .link a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px; /* Змінено товщину підкреслення */
  bottom: -3px; /* Змінено положення підкреслення відносно тексту */
  left: 0;
  background-color: white; /* Колір підкреслення */
  visibility: hidden;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.menu .conteiner .menu__links .links .link a:hover::after {
  visibility: visible;
  transform: scaleX(1);
}
.menu .conteiner .menu__reg {
  display: flex;
  align-items: center;
}
.menu .conteiner .menu__reg .reg {
  padding: 0px 13px;
}
.menu .conteiner .menu__reg .reg:last-child {
  border: 1px solid white;
  border-radius: 10px;
  padding: 4px 10px;
}
.menu .conteiner .menu__reg span {
  color: white;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: right;
}

.top {
  aspect-ratio: 1920/800;
  width: 100%; /* Ширина фону займатиме 100% відносно контейнера */
  max-width: 100%; /* Не перевищувати 100% ширини контейнера */
  height: auto; /* Висота фону буде обчислюватися автоматично відповідно до aspect-ratio */
  background: url("../img/pexels-k.png"), linear-gradient(rgb(20, 66, 114), rgb(12, 50, 79));
  background-size: cover;
  background-position: center center;
  position: relative;
  overflow: hidden;
}

.doctor {
  display: flex;
  justify-content: center;
}
.doctor .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.doctor .container .doctor_text {
  max-width: 450px;
}
.doctor .container .doctor_text h1 {
  color: #FFF;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  font-family: Montserrat;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 97.52%; /* 46.81px */
}
.doctor .container .doctor_text p {
  color: #FFF;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  font-family: Montserrat Alternates;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  opacity: 0.8;
}
.doctor .container .doctor_text .buttons {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px 1px 0px;
}
.doctor .container .doctor_text .buttons .button1 {
  width: 47%;
  height: auto;
  padding: 5px 15px;
  background-color: white;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* плавна зміна кольору при наведенні */
}
.doctor .container .doctor_text .buttons .button1 span {
  color: #21415B;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.doctor .container .doctor_text .buttons .button1:hover {
  background-color: #b2b4b6; /* колір фону при наведенні */
}
.doctor .container .doctor_text .buttons .button2 {
  background-color: rgba(33, 65, 91, 0); /* Прозорий синій фон */
  border: 2px solid white; /* Біла обводка шириною 2 пікселі */
  padding: 10px 15px;
  border-radius: 10px;
  width: 47%;
  height: auto;
}
.doctor .container .doctor_text .buttons .button2 span {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.doctor .container .doctor_text .buttons .button2:hover {
  opacity: 0.6;
}
.doctor .container .doctor_img img {
  max-height: 600px;
  width: auto;
}