@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.menu {
  height: 80px;
  width: 100%;
}
.menu .container {
  height: 100%;
  width: 1000px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.menu .container .logotype {
  display: flex;
  align-items: center;
}
.menu .container .logotype a {
  color: #0A2647;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.menu .container .links {
  flex: 0 1 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu .container .links a {
  color: #5F5F5F;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
  margin: 0px 5px;
}
.menu .container .links a {
  text-decoration: none;
  position: relative;
}
.menu .container .links a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px; /* Змінено товщину підкреслення */
  bottom: -3px; /* Змінено положення підкреслення відносно тексту */
  left: 0;
  background-color: white; /* Колір підкреслення */
  visibility: hidden;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.menu .container .links a:hover::after {
  visibility: visible;
  transform: scaleX(1);
}
.menu .container .links a::after {
  background-color: #5F5F5F;
}
.menu .container .profile {
  display: flex;
  align-items: center;
}
.menu .container .profile a {
  color: #5F5F5F;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
}
.menu .container .profile a::before {
  content: "";
  background: url(../img/icons/notification.svg) no-repeat;
  display: inline-block;
  width: 22px;
  height: 27px;
  background-size: 95% 95%;
  background-position: center;
  position: absolute;
  top: -3px;
  left: -27px;
}

.filter {
  width: 100%;
  background-color: rgb(225, 225, 225);
  fill: #E1E1E1;
  filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.15));
}
.filter .container {
  height: 100%;
  width: 1000px;
  max-width: 95%;
  margin: 0 auto;
}
.filter .container form {
  max-height: 100%;
  max-width: 100%;
}
.filter .container form .search {
  display: flex;
  justify-content: space-between;
}
.filter .container form .search input[type=text] {
  margin: 25px 0px;
  height: 55px;
  width: 75%;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 0px 10px;
  color: rgb(59, 59, 59);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 550;
  line-height: normal;
}
.filter .container form .search input[type=text]::-moz-placeholder {
  color: rgb(95, 95, 95);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.filter .container form .search input[type=text]::placeholder {
  color: rgb(95, 95, 95);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.filter .container form .search input[type=submit] {
  width: 20%;
  height: 55px;
  border-radius: 10px;
  margin: 25px 0px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(158, 153, 153, 0.9);
  color: rgb(59, 59, 59);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.filter .container form .search input[type=submit]:hover {
  opacity: 0.8;
  transition: opacity 0.3s linear;
}
.filter .container form .criteria {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
.filter .container form .criteria select {
  flex: 0 0 290px;
  padding: 5px;
  border-radius: 4px;
  margin: 5px 0px;
  color: rgb(59, 59, 59);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.filter .container form .criteria select option {
  color: black;
}
.filter .container form .services {
  width: 70%;
  padding: 20px 0px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.filter .container form .services input {
  transform: scale(1.5);
  margin: 0px 5px;
}
.filter .container form .services label {
  color: rgb(59, 59, 59);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.filter .container form .services .check1, .filter .container form .services .check2 {
  display: flex;
  align-items: center;
}

.rehab_list {
  padding: 17px 0px;
}
.rehab_list p {
  width: 1000px;
  max-width: 95%;
  margin: 0 auto;
  margin-bottom: 10px;
  color: #5F5F5F;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.rehab_list .container {
  width: 1000px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.rehab_list .container .card {
  background-color: white;
  aspect-ratio: 0.8333333333;
  border-radius: calc(10px * var(--card-height) / 324);
  padding: calc(10px * var(--card-height) / 324) 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.rehab_list .container .card:hover .doctor_hover .container .name span, .rehab_list .container .card .doctor .name, .rehab_list .container .card .header .container .spec-cont .speciality span {
  color: #0A2647;
  text-align: right;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.rehab_list .container .card:hover .footer_hover .container span, .rehab_list .container .card:hover .doctor_hover .about p, .rehab_list .container .card:hover .doctor_hover .container .experience span, .rehab_list .container .card .footer span, .rehab_list .container .card .doctor .experience, .rehab_list .container .card .header .container .city span, .rehab_list .container .card .header .container .spec-cont .rating {
  color: #949494;
  text-align: right;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.rehab_list .container .card .header {
  width: 90.3703703704%;
  height: 17.4342105263%;
  display: flex;
  flex-direction: column;
}
.rehab_list .container .card .header .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.rehab_list .container .card .header .container .spec-cont {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.rehab_list .container .card .header .container .spec-cont .speciality {
  display: flex;
}
.rehab_list .container .card .header .container .spec-cont .speciality span {
  font-size: calc(20px * var(--card-height) / 324);
}
.rehab_list .container .card .header .container .spec-cont .rating {
  display: inline-block;
  font-size: calc(14px * var(--card-height) / 324);
}
.rehab_list .container .card .header .container .spec-cont .rating span {
  font-size: calc(8px * var(--card-height) / 324);
}
.rehab_list .container .card .header .container .spec-cont .rating::before {
  content: "★★★★★";
  letter-spacing: 1px;
  background: linear-gradient(90deg, gold calc(var(--rating) - 1%), #ccc calc(var(--rating) - 1%));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.rehab_list .container .card .header .container .spec-cont .rating[data-rating="0.5"]::before {
  --rating: 10%;
}
.rehab_list .container .card .header .container .spec-cont .rating[data-rating="1"]::before {
  --rating: 20%;
}
.rehab_list .container .card .header .container .spec-cont .rating[data-rating="1.5"]::before {
  --rating: 30%;
}
.rehab_list .container .card .header .container .spec-cont .rating[data-rating="2"]::before {
  --rating: 40%;
}
.rehab_list .container .card .header .container .spec-cont .rating[data-rating="2.5"]::before {
  --rating: 50%;
}
.rehab_list .container .card .header .container .spec-cont .rating[data-rating="3"]::before {
  --rating: 60%;
}
.rehab_list .container .card .header .container .spec-cont .rating[data-rating="3.5"]::before {
  --rating: 70%;
}
.rehab_list .container .card .header .container .spec-cont .rating[data-rating="4"]::before {
  --rating: 80%;
}
.rehab_list .container .card .header .container .spec-cont .rating[data-rating="4.5"]::before {
  --rating: 90%;
}
.rehab_list .container .card .header .container .spec-cont .rating[data-rating="5"]::before {
  --rating: 100%;
}
.rehab_list .container .card .header .container .city {
  position: relative;
}
.rehab_list .container .card .header .container .city span {
  font-size: calc(20px * var(--card-height) / 324);
  position: absolute;
  top: 0;
  right: 0;
}
.rehab_list .container .card .header .line {
  width: 100%;
  height: calc(1px * var(--card-height) / 324);
  background-color: rgb(206, 206, 206);
}
.rehab_list .container .card .doctor {
  width: 90.3703703704%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rehab_list .container .card .doctor .img {
  aspect-ratio: 1/1;
  width: 45.0819672131%;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
}
.rehab_list .container .card .doctor .img img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.rehab_list .container .card .doctor .name {
  font-size: calc(20px * var(--card-height) / 324);
  margin: calc(9px * var(--card-height) / 324) 0px calc(4px * var(--card-height) / 324) 0px;
}
.rehab_list .container .card .doctor .experience {
  font-size: calc(16px * var(--card-height) / 324);
}
.rehab_list .container .card .doctor_hover {
  display: none;
}
.rehab_list .container .card .footer {
  height: 17.4342105263%;
  display: flex;
  align-items: center;
}
.rehab_list .container .card .footer span {
  font-size: calc(9px * var(--card-height) / 324);
}
.rehab_list .container .card .footer_hover {
  display: none;
}
.rehab_list .container .card:hover {
  background: #0E324C;
}
.rehab_list .container .card:hover .header .container .spec-cont .speciality span, .rehab_list .container .card:hover .header .container .city span {
  color: white;
}
.rehab_list .container .card:hover .doctor, .rehab_list .container .card:hover .footer {
  display: none;
}
.rehab_list .container .card:hover .doctor_hover {
  width: 90.3703703704%;
  max-height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.rehab_list .container .card:hover .doctor_hover .container {
  margin-bottom: calc(10px * var(--card-height) / 324);
  width: 100%;
  max-height: 25%;
  display: flex;
  justify-content: space-between;
}
.rehab_list .container .card:hover .doctor_hover .container .name {
  max-height: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.rehab_list .container .card:hover .doctor_hover .container .name span {
  display: block;
  color: white;
  font-size: calc(18px * var(--card-height) / 324);
}
.rehab_list .container .card:hover .doctor_hover .container .experience {
  max-height: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.rehab_list .container .card:hover .doctor_hover .container .experience span {
  display: block;
  color: rgba(255, 255, 255, 0.9);
  font-size: calc(16px * var(--card-height) / 324);
}
.rehab_list .container .card:hover .doctor_hover .about {
  max-height: 80%;
}
.rehab_list .container .card:hover .doctor_hover .about p {
  color: rgba(255, 255, 255, 0.9);
  font-size: calc(16px * var(--card-height) / 324);
  text-align: left;
}
.rehab_list .container .card:hover .footer_hover {
  width: 90.3703703704%;
  height: 17.4342105263%;
  display: block;
}
.rehab_list .container .card:hover .footer_hover .container {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.rehab_list .container .card:hover .footer_hover .container span {
  display: block;
  color: #FFF;
  font-size: calc(11px * var(--card-height) / 324);
}
.rehab_list .container .card:hover .footer_hover .container .message button span::before {
  content: "";
  background: url(../img/icons/chat.svg) no-repeat;
}
.rehab_list .container .card:hover .footer_hover .container .profile button span::before {
  content: "";
  background: url(../img/icons/CustomersMajor.svg) no-repeat;
}
.rehab_list .container .card:hover .footer_hover .container .message, .rehab_list .container .card:hover .footer_hover .container .profile {
  max-height: 100%;
}
.rehab_list .container .card:hover .footer_hover .container .message button, .rehab_list .container .card:hover .footer_hover .container .profile button {
  display: block;
  background-color: #0E324C;
  max-height: 100%;
}
.rehab_list .container .card:hover .footer_hover .container .message button span::before, .rehab_list .container .card:hover .footer_hover .container .profile button span::before {
  display: inline-block;
  width: calc(20px * var(--card-height) / 324);
  height: calc(20px * var(--card-height) / 324);
  background-size: 95% 95%;
  position: relative;
  left: -10%;
  top: calc(5px * var(--card-height) / 324);
}
.rehab_list .container .card:hover .footer_hover .container .message button:hover, .rehab_list .container .card:hover .footer_hover .container .profile button:hover {
  opacity: 0.7;
}
.rehab_list .container .card:hover .footer_hover .container .profile button span::before {
  width: calc(25px * var(--card-height) / 324);
  height: calc(25px * var(--card-height) / 324);
  top: calc(7px * var(--card-height) / 324);
}
.rehab_list .container .card:hover .footer_hover .container .vertical_dash {
  width: calc(0.5px * var(--card-height) / 324);
  height: 85%;
  background-color: rgb(206, 206, 206);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.rehab_list .container .card:hover .footer_hover .line {
  width: 100%;
  height: calc(1px * var(--card-height) / 324);
  background-color: rgb(206, 206, 206);
}
.rehab_list .container .card {
  height: 264px;
  border-radius: 10px;
  border: 1px solid #CECECE;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
  margin: 10px 15px;
}